@using BESMIK.ViewModel.Permission
@model PermissionViewModel
@{
    Layout = "_PersonalLayout";
}
<div class="pagetitle">
    <h1>Profil</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Personal" asp-controller="PersonalHome" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Personel Talep İşlemleri</li>
            <li class="breadcrumb-item active">İzin Talebi Oluştur</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="tab-content pt-2">
                        <form asp-controller="Permission" asp-action="PermissionAdd" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row mb-3">
                                <label for="permissionType" class="col-md-4 col-lg-3 col-form-label">İzin Türü</label>
                                <div class="col-md-8 col-lg-9">
                                    <select name="PermissionType" class="form-select" id="permissionType">
                                        <option value="">Bir izin türü seçiniz</option>
                                    </select>
                                    <span asp-validation-for="PermissionType" class="form-text text-danger"></span>
                                </div>
                            </div>

                            @{
                                var today = DateTime.Now.ToString("yyyy-MM-dd");
                            }

                            <div class="row mb-3">
                                <label for="permissionStartDate" class="col-md-4 col-lg-3 col-form-label">Başlangıç Tarihi</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="PermissionStartDate" type="date" class="form-control" id="permissionStartDate"
                                           value="@(Model.PermissionStartDate == default(DateOnly) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.PermissionStartDate.ToString("yyyy-MM-dd"))"
                                           min="@today">
                                           @* value="@(Model.PermissionStartDate.ToString("yyyy-MM-dd"))"
                                           min="@today"> *@
                                    <span asp-validation-for="PermissionStartDate" class="form-text text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="permissionEndDate" class="col-md-4 col-lg-3 col-form-label">Bitiş Tarihi</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="PermissionEndDate" type="date" class="form-control" id="permissionEndDate"
                                           value="@(Model.PermissionEndDate == default(DateOnly) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.PermissionEndDate.ToString("yyyy-MM-dd"))"
                                           min="@today">
                                    <span asp-validation-for="PermissionEndDate" class="form-text text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" name="OffDaysNumbers" id="offDaysNumbers" value="0">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">İzin Talebi Ekle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
                    //İzin türlerini yükleme
            $.get("@Url.Action("GetPermissionType", "Permission")", function (data) {
                var select = $("#permissionType");
                select.empty();
                select.append('<option value="">Bir izin türü seçiniz</option>');
                $.each(data, function (index, item) {
                    select.append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });
        });
    </script>
}
