@using BESMIK.ViewModel.Spending
@model List<SpendingViewModel>

@{
    Layout = "_PersonalLayout";
}


<div class="pagetitle">
    <h1>Şirket Yöneticisi Ekle</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="AppUser" asp-action="Summary">Anasayfa</a></li>
            <li class="breadcrumb-item">Şirket Yönetici İşlemleri</li>
            <li class="breadcrumb-item active">Yönetici Listele</li>
        </ol>
    </nav>
</div>



<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Harcama Listesi</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Harcama Türü</th>
                                <th>Tutar</th>
                                <th>Para Birimi</th>
                                <th>Onay Durumu</th>
                                <th>Talep Tarihi</th>
                                <th>Cevaplanma Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SpendingViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.SpendingType</td>
                                    <td>@item.Sum</td>
                                    <td>@item.SpendingCurrency</td>
                                    <td>@item.SpendingStatus</td>
                                    <td>@item.SpendingRequestDate</td>
                                    <td>@item.SpendingResponseDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>
