@using BESMIK.Common
@model List<SpendingViewModel>

@{
    Layout = "_CompanyManagerLayout";
}

<div class="pagetitle">
    <h1>Harcama Listesi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Harcama İşlemleri</li>
            <li class="breadcrumb-item active"><a asp-controller="Spending" asp-action="SpendingList">Harcama Listele</a></li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Harcama Listesi</h5>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Harcama Türü</th>
                                <th>Tutar</th>
                                <th>Para Birimi</th>
                                <th>Talep Tarihi</th>
                                <th>Onay Durumu</th>
                                <th>Cevaplanma Tarihi</th>
                                <th>Dosya</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.AppUser.Name</td>
                                    <td>@item.AppUser.Surname</td>
                                    <td>@item.SpendingType</td>
                                    <td>@item.Sum</td>
                                    <td>@item.SpendingCurrency</td>
                                    <td>@item.SpendingRequestDate</td>


                                    <td>
                                        @if (item.SpendingStatus == SpendingStatus.OnayBekliyor)
                                        {
                                            <span class="badge bg-secondary text-dark">Cevap bekleniyor</span>
                                        }
                                        else if (item.SpendingStatus == SpendingStatus.Onaylandi)
                                        {
                                            <span class="badge bg-success text-light">Onaylandı</span>
                                        }
                                        else if (item.SpendingStatus == SpendingStatus.Reddedildi)
                                        {
                                            <span class="badge bg-danger text-light">Reddedildi</span>
                                        }
                                        else if (item.SpendingStatus == SpendingStatus.IptalEdildi)
                                        {
                                            <span class="badge bg-warning text-dark">İptal Edildi</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light text-dark">Bilinmeyen Durum</span>
                                        }


                                    </td>
                                    <td>
                                        @if (item.SpendingStatus == SpendingStatus.OnayBekliyor)
                                        {
                                            @:Cevap bekleniyor
                                        }
                                        else
                                        {
                                            @item.SpendingResponseDate?.ToString("yyyy-MM-dd")
                                        }
                                    </td>
                                    <td>
                                        <img height="60px" width="60px" src="~/images/Spending/@item.SpendingFile" alt="Resim Yok" />
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" style="display: flex; gap: 5px;">
                                            @if (item.SpendingStatus == SpendingStatus.OnayBekliyor)
                                            {
                                                <a asp-action="SpendingEdit" asp-controller="Spending" asp-route-id="@item.Id" class="btn btn-sm btn-warning" style="border-radius: 4px;">
                                                    Talep İşlemler
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>

}
