@model BESMIK.ViewModel.Spending.SpendingViewModel

@{
    Layout = "_CompanyManagerLayout";
}

<div class="pagetitle">
    <h1>Harcama Detayları</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="CompanyManager" asp-controller="CompanyManagerHome" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Harcama İşlemleri</li>
            <li class="breadcrumb-item active">Harcama Detayları</li>
        </ol>
    </nav>
</div>

<div class="container">
    <form asp-controller="SpendingManagement" asp-action="SpendingManagementDetails" method="post">
 
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label>Ad</label>
            <input type="text" class="form-control" value="@Model.AppUser.Name" readonly />
        </div>

  
        <div class="form-group">
            <label>Soyad</label>
            <input type="text" class="form-control" value="@Model.AppUser.Surname" readonly />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" value="@Model.AppUser.Email" readonly />
        </div>

        <div class="form-group">
            <label>Departman</label>
            <input type="text" class="form-control" value="@Model.AppUser.Department" readonly />
        </div>

 
        <div class="form-group">
            <label>Harcama Türü</label>
            <input type="text" class="form-control" value="@Model.SpendingType" readonly />
        </div>

  
        <div class="form-group">
            <label>Tutar</label>
            <input type="text" class="form-control" value="@Model.Sum" readonly />
        </div>


        <div class="form-group">
            <label>Para Birimi</label>
            <input type="text" class="form-control" value="@Model.SpendingCurrency" readonly />
        </div>

       
        <div class="form-group">
            <label>Talep Tarihi</label>
            <input type="text" class="form-control" value="@Model.SpendingRequestDate.ToShortDateString()" readonly />
        </div>



        <div class="form-group">
            <label for="spendingStatus" class="col-md-4 col-lg-3 col-form-label">Onay Türü</label>
            <br>
            <div class="col-md-8 col-lg-9">
                <select name="SpendingStatus" class="form-select">
                    <option value="">Bir onay türü seçiniz</option>
                </select>
                <span asp-validation-for="SpendingStatus" class="form-text text-danger"></span>
            </div>
        </div>

       
        <div class="form-group">
            <label>Dosya</label>
            @if (!string.IsNullOrEmpty(Model.SpendingFile))
            {
                <a href="@Model.SpendingFile" target="_blank">Dosyayı Görüntüle</a>
            }
            else
            {
                <p>Dosya mevcut değil.</p>
            }
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $.get("@Url.Action("GetSpendingStatus", "SpendingManagement")", function (data) {
                var select = $("select[name='SpendingStatus']");
                select.empty();
                select.append('<option value="">Bir onay türü seçiniz</option>');
                $.each(data, function (index, item) {
                    select.append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            });

        });
    </script>
}
