
@model List<SpendingViewModel>

@{
    Layout = "_PersonalLayout";
}


<div class="pagetitle">
    <h1>Harcama Listesi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Personal" asp-controller="PersonalHome" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item">Harcama İşlemleri</li>
            <li class="breadcrumb-item active"><a asp-controller="Spending" asp-action="SpendingList">Harcama Listele</a></li>
        </ol>
    </nav>
</div>


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Harcama Listesi</h5>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Harcama Türü</th>
                                <th>Tutar</th>
                                <th>Para Birimi</th>
                                <th>Onay Durumu</th>
                                <th>Talep Tarihi</th>
                                <th>Cevaplanma Tarihi</th>
                                <th>Dosya Adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SpendingViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.SpendingType</td>
                                    <td>@item.Sum</td>
                                    <td>@item.SpendingCurrency</td>
                                    <td>@item.SpendingStatus</td>
                                    <td>@item.SpendingRequestDate</td>
                                    <td>@item.SpendingResponseDate</td>
                                    <td>@item.SpendingFile</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>
